name: unit-tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  run-tests:
    name: ${{ matrix.shard_name }}(py=${{ matrix.python-version }},dj=${{ matrix.django-version }},mongo=${{ matrix.mongo-version }})
    runs-on: ${{ matrix.os-version }}
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.11"
        django-version:
          - "pinned"
        # When updating the shards, remember to make the same changes in
        # .github/workflows/unit-tests-gh-hosted.yml
        shard_name:
          - "lms-1"
          - "lms-2"
          - "lms-3"
          - "lms-4"
          - "lms-5"
          - "lms-6"
          - "openedx-1-with-lms"
          - "openedx-2-with-lms"
          - "openedx-1-with-cms"
          - "openedx-2-with-cms"
          - "cms-1"
          - "cms-2"
          - "common-with-lms"
          - "common-with-cms"
          - "xmodule-with-lms"
          - "xmodule-with-cms"
        mongo-version:
          - "4.4"
          - "7.0"
        os-version:
          - ubuntu-24.04

        # It's useful to run some subset of the tests on the older version of Ubuntu
        # so that we don't spend too many resources on this but can find major issues quickly
        # while we're in a situation where we support two versions.  This section may be commented
        # out when not in use to easily add/drop future support for any given major dependency.
        #
        # We're testing the older version of Ubuntu and running the xmodule tests since those rely on many
        # dependent complex libraries and will hopefully catch most issues quickly.
        include:
          - shard_name: "xmodule-with-cms"
            python-version: "3.11"
            django-version: "pinned"
            mongo-version: "7.0"
            os-version: "ubuntu-22.04"
          - shard_name: "xmodule-with-lms"
            python-version: "3.11"
            django-version: "pinned"
            mongo-version: "7.0"
            os-version: "ubuntu-22.04"

    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: install system requirements
        run: |
          sudo apt-get update && sudo apt-get install libmysqlclient-dev libxmlsec1-dev lynx

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.11.0
        with:
          mongodb-version: ${{ matrix.mongo-version }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: install requirements
        run: |
          make test-requirements
          if [[ "${{ matrix.django-version }}" != "pinned" ]]; then
            pip install "django~=${{ matrix.django-version }}.0"
            pip check # fail if this test-reqs/Django combination is broken
          fi

      - name: list installed package versions
        run: |
          pip freeze

      - name: Setup and run tests
        uses: ./.github/actions/unit-tests

      - name: Renaming coverage data file
        run: |
          mv reports/.coverage reports/${{ matrix.shard_name }}.coverage

      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: reports/${{matrix.shard_name}}.coverage
          overwrite: true

  collect-and-verify:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: install system requirements
        run: |
          sudo apt-get update && sudo apt-get install libxmlsec1-dev

      - name: install requirements
        run: |
          make test-requirements

      - name: verify unit tests count
        uses: ./.github/actions/verify-tests-count

  # This job aggregates test results. It's the required check for branch protection.
  # https://github.com/marketplace/actions/alls-green#why
  # https://github.com/orgs/community/discussions/33579
  success:
    name: Unit tests successful
    runs-on: ubuntu-24.04
    needs: [run-tests]
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        # uses: re-actors/alls-green@v1.2.1
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe
        with:
          jobs: ${{ toJSON(needs) }}

  compile-warnings-report:
    runs-on: ubuntu-24.04
    needs: [run-tests]
    steps:
      - uses: actions/checkout@v4
      - name: collect pytest warnings files
        uses: actions/download-artifact@v4
        with:
          name: pytest-warnings-json
          path: test_root/log

      - name: display structure of downloaded files
        run: ls -la test_root/log

      - name: compile warnings report
        run: |
          python openedx/core/process_warnings.py --dir-path test_root/log --html-path reports/pytest_warnings/warning_report_all.html

      - name: save warning report
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-warning-report-html
          path: |
            reports/pytest_warnings/warning_report_all.html
          overwrite: true

  # Combine and upload coverage reports.
  coverage:
    if: (github.repository == 'edx/edx-platform-private') || (github.repository == 'openedx/edx-platform' && (startsWith(github.base_ref, 'open-release') == false))
    runs-on: ubuntu-24.04
    needs: [ run-tests ]
    strategy:
      matrix:
        python-version: [ 3.8 ]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          name: coverage
          path: reports

      - name: Install Python dependencies
        run: |
          pip install -r requirements/edx/coverage.txt

      - name: Run coverage
        run: |
          coverage combine reports/*
          coverage report
          coverage xml
      - uses: codecov/codecov-action@v4
